---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "animations";

@font-face {
    font-family: 'manifold_cfbold';
    src: url('/fonts/manifoldcf-bold-webfont.eot');
    src: url('/fonts/manifoldcf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/manifoldcf-bold-webfont.woff2') format('woff2'),
         url('/fonts/manifoldcf-bold-webfont.woff') format('woff'),
         url('/fonts/manifoldcf-bold-webfont.ttf') format('truetype'),
         url('/fonts/manifoldcf-bold-webfont.svg#manifold_cfbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'manifold_cfregular';
    src: url('/fonts/manifoldcf-regular-webfont.eot');
    src: url('/fonts/manifoldcf-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/manifoldcf-regular-webfont.woff2') format('woff2'),
         url('/fonts/manifoldcf-regular-webfont.woff') format('woff'),
         url('/fonts/manifoldcf-regular-webfont.ttf') format('truetype'),
         url('/fonts/manifoldcf-regular-webfont.svg#manifold_cfregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: rgb(255, 255, 255);
  font: normal 1em/1.38 "manifold_cfregular", sans-serif;
  color: #313131;

  @media (min-width: 992px) {
    padding: 10px;
  }
}

@media (min-width: 992px) {
  body.sticky-nav {
    padding-top: 80px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "manifold_cfbold", sans-serif;
  color: #515151;
  text-transform: uppercase;
  text-shadow:
    1px 0 0 #4F48D4,
    2px 0 1px #43BED3,
    -1px 0px 0px rgba(#E14858, 0.64),
    -2px 0px 1px rgba(#E1C851, 1.0);

  &.subtitle {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "manifold_cfregular", sans-serif;
    text-shadow: 1px 0 0 rgba(#4F48D4, 0.6),
                 2px 0 1px rgba(#43BED3, 0.5),
                 -1px 0px 0px rgba(#E14858, 0.44),
                 -2px 0px 1px rgba(#E1C851, 0.4);
    background-color: rgba(black, 0.9);
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.navigation {
  background: white;
  position: relative;
  padding: 10px 0 (10px - 3px);

  @media (min-width: 992px) {
    padding: 20px 0 (20px - 3px);
  }

  &.sticky {
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    margin-bottom: 20px;

    @media (min-width: 992px) {
      padding-left: 25px;
      padding-right: 25px;
      margin: 0;
      height: 60px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

    .nav-border {
      opacity: 1;
    }

    .logo {
      display: block;

      @media (min-width: 992px) {
        opacity: 1;
      }
    }
  }

  .nav-border {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    opacity: 0;

    animation: fade 50s ease-in-out infinite;
    -webkit-animation: fade 50s ease-in-out infinite;
  }

  .nav-pills > li {
    margin: 0 20px 0 0;

    & > a {
      border-radius: 0;
      padding: 0;
      font-size: 16px;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: inherit;
        background-color: transparent;
      }

      &.active {
        text-decoration: line-through;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  .logo {
    display: none;
    margin: 0 0 10px 0;
    text-align: left;

    @media (min-width: 992px) {
      display: block;
      opacity: 0;
      margin-top: -5px;
      margin-bottom: 0;
      text-align: right;
    }
  }
}

.tile-row {
  @media (min-width: 992px) {
    margin-bottom: 10px;

    .col-md-6:first-child {
      padding: 0 5px 0 0;
    }

    .col-md-6:last-child {
      padding: 0 0 0 5px;
    }
  }
}

.work-tile {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  height: 180px;
  text-align: center;
  text-decoration: none;

  @media (min-width: 992px) {
    margin: 0;
    height: 300px;
  }

  .title-container {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
  }

  .title {
    padding: 2px 10px 0 10px;
    color: white;
    font-size: 22px;
    background-color: rgba(black, 0.9);
    text-transform: uppercase;
    font-weight: normal;
    font-family: "manifold_cfregular", sans-serif;
    text-shadow: 1px 0 0 rgba(#4F48D4, 0.6),
                 2px 0 1px rgba(#43BED3, 0.5),
                 -1px 0px 0px rgba(#E14858, 0.44),
                 -2px 0px 1px rgba(#E1C851, 0.4);

    @media (min-width: 992px) {
      font-size: 29px;
      padding: 2px 10px 0 10px;
    }
  }
}

.feature-image {
  display: block;
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;

  .preview {
    display: block;
    width: 100%;
  }
}

.website {
  padding-top: 80px;

  .feature-image {
    background: rgba(white, 0.9);
    height: 220px;

    .shadow {
      display: block;
      position: absolute;
      width: 5px;
      top: -15px;
      bottom: 0;
      background-color: rgba(black, 0.13);

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 5px;
        height: 5px;
        top: -5px;
        left: 0;
      }

      &.shadow-left {
        left: -5px;

        &:before {
          background: url("../images/browser_shadow_l.svg") no-repeat;
        }
      }

      &.shadow-right {
        right: -5px;

        &:before {
          background: url("../images/browser_shadow_r.svg") no-repeat;
        }
      }
    }
  }
}

.browser-bar {
  position: absolute;
  display: block;
  top: -28px;
  left: 5px;
  right: 5px;
  height: 28px;
  background: #f1f1f1;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
  }

  &:before {
    background: url("../images/browser_bar_corner_l.svg") no-repeat;
    left: -5px;
  }

  &:after {
    background: url("../images/browser_bar_corner_r.svg") no-repeat;
    right: -5px;
  }
}

.browser-buttons {
  position: absolute;
  width: 50px;
  height: 10px;
  top: 9px;
  right: 10px;
  background: url("../images/browser_buttons.svg") no-repeat;
}

.mobile {
  padding-top: 30px;

  .feature-image {
    padding: 67px 19px 0;
    background: url("../images/iphone_background.svg") no-repeat;
    background-size: 100%;
    max-width: 333px;
    height: 270px;

    .preview {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
}

.ipad {
  padding-top: 55px;

  @media (min-width: 992px) {
    padding-top: 47px;
  }

  .feature-image {
    max-width: 250px;
    height: 126px;

    @media (min-width: 992px) {
      max-width: 500px;
      height: 253px;
    }
  }
}

.aqua {
  background-color: #a2cdbd;
}

.blue {
  background-color: #9bd4d7;
}

.green {
  background-color: #c7d791;
}

.orange {
  background-color: #e1a387;
}

.red {
  background-color: #cd8795;
}

.yellow {
  background-color: #e1c087;
}

/** Hero **/

#hero-video {
  position: absolute;
  opacity: 0.1;
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
}

#hero-noise {
  position: absolute;
  opacity: 0.05;
  top: 10px;
  left: 0;
  width: 100%;
  height: 580px;
  background: url('../images/static_bg.gif') repeat top left;
}

#hero {
  height: 460px;
  text-align: center;
  animation: fade 50s ease-in-out infinite;
  -webkit-animation: fade 50s ease-in-out infinite;

  @media (min-width: 992px) {
    height: 580px;
  }

  &.nav-active {
    @media (min-width: 992px) {
      margin-bottom: 70px;
    }
  }

  .name {
    padding-top: 140px;
    font-family: "manifold_cfbold", sans-serif;
    text-transform: uppercase;

    @media (min-width: 992px) {
      padding-top: 240px;
    }

    h1, h2 {
      padding: 0;
      margin: 0;
      overflow: hidden;
      color: #515151;
      font-size: 36px;
      text-shadow:
        1px 0 0 #4F48D4,
        2px 0 1px #43BED3,
        -1px 0px 0px rgba(#E14858, 0.64),
        -2px 0px 1px #E1C851;

      @media (min-width: 992px) {
        font-size: 54px;
      }

      @media (min-width: 1200px) {
        font-size: 72px;
      }
    }

    .fourth {
      opacity: 0.2;
      height: 20px;
      // animation: wobble-third 8s ease-in infinite;
      // -webkit-animation: wobble-third 8s ease-in infinite;

      @media (min-width: 992px) {
        height: 30px;
      }

      @media (min-width: 1200px) {
        height: 40px;
      }
    }

    .third {
      opacity: 0.3;
      height: 23.5px;
      // animation: wobble-second 7.5s ease-in infinite;
      // -webkit-animation: wobble-second 7.5s ease-in infinite;

      @media (min-width: 992px) {
        height: 35px;
      }

      @media (min-width: 1200px) {
        height: 47px;
      }
    }

    .second {
      opacity: 0.6;
      height: 27.5px;
      // animation: wobble-first 7s ease-in infinite;
      // -webkit-animation: wobble-first 7s ease-in infinite;

      @media (min-width: 992px) {
        height: 41px;
      }

      @media (min-width: 1200px) {
        height: 55px;
      }
    }

    .first {}

  }

  .subtitle {
    margin-top: 20px;
    padding: 5px 10px;
    display: inline-block;
    // font-family: ManifoldCF-Regular;
    // font-weight: normal;
    font-size: 16px;
    color: white;
    background: rgba(black, 0.9);
    text-shadow: 1px 0 0 rgba(#4F48D4, 0.6),
             2px 0 1px rgba(#43BED3, 0.5),
             -1px 0px 0px rgba(#E14858, 0.44),
             -2px 0px 1px rgba(#E1C851, 0.4);

    @media (min-width: 992px) {
      margin-top: 40px;
      font-size: 18px;
    }
  }
}

.snapshots {
  img {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
}

.writeup {
  .title {
    padding: 5px 10px 0;
    margin-bottom: 15px;

    @media (min-width: 992px) {
      padding: 5px 10px 0;
    }
  }

  .roles {
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
    color: #777;
  }

  .content {
    font-size: 16px;
    line-height: 26px;
  }
}

#footer {
  padding: 20px 0;
  font-size: 14px;
}