<footer id="footer" class="row">
  <div class="col-md-6 col-md-offset-2">
    <p>Made in LA.</p>
    <p>Email: <a href="mailto:{{ site.email }}" title="Email me">{{ site.email }}</a></p>
    <p>Twitter: <a href="https://twitter.com/{{ site.twitter_username" title="@{{ site.twitter_username }}">@{{ site.twitter_username }}</a></p>
    <p>GitHub: <a href="https://github.com/{{ site.github_username }}" title="Levi's GitHub">{{ site.github_username }}</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="Levi's LinkedIn">{{ site.linkedin_username }}</a></p>
  </div>
</div>

<script src="{{ site.base_url }}/js/global.js"></script>