<nav id="work" class="navigation row {% if page.id %}sticky{% endif %}" role="navigation">
  <div class="nav-border"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation">
            <a href="{{ site.baseurl }}/#work" title="The Work">The Work</a>
          </li>
          <li role="presentation">
            <a href="{{ site.baseurl }}/about" title="The Man">The Man</a>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2 class="logo">{{ site.title }}.</h2>
      </div>
    </div>
  </div>
</nav>