<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">

    <link rel="apple-touch-icon-precomposed" href="/images/glitch/favicon-152.png">
    <link rel="shortcut icon" href="{{ site.url }}/images/glitch/favicon.ico" />
    <link rel="icon" sizes="16x16 32x32" href="/images/glitch/favicon.ico">

    <meta name="twitter:card" content="app">
    <meta name="twitter:site" content="@levi">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:app:country" content="US">
    <meta name="twitter:app:name:iphone" content="Glitch">
    <meta name="twitter:app:id:iphone" content="{{ page.iphone_id }}">

    <meta property="og:title" content="{% if page.title %}{{ page.title }} by {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:image" content="{{ site.url }}/images/glitch/glitch_icon.jpg" />

    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/glitch.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% include ga.html %}

    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us9.list-manage.com","uuid":"5f47aa87eb229b674820f0658","lid":"256fc88ec4"}) })</script>

</head>

<body>
  <div class="container-fluid">
    {{ content }}
  </div>
</body>
</html>
